@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
  }
  
  #preloader {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar {
    width: 40vw;
    height: 5vh;
    border: 0.2rem solid #ffb7b7;
    border-radius: 0.6rem;
    padding: 0px;
    line-height: 12rem;
    overflow: hidden;
  }
  .progress
  {
    width: 0vw;
    height: 5vh;
    border: none;
    background-color: #f00;
    padding: 0px;
    line-height: 12rem;
    animation: loading 2s linear infinite;
  }
  
  @keyframes loading {
    40% { 
        transform:translateX(0vw);
        width: 40vw; 
    }
    90% { 
        transform:translateX(45vw);
        width: 0px;
    }
    100%{
        transform: translateX(50vw);
    }
  }
  
.container {
    display: flex;
}

.Hamtool{
    position: absolute;
    font-size: 2em;
    margin-top: 0.3em;
}
.show{
    display: none;
    left:0.3em
}
.hide{
    left: 10.5em;
}
.sidebar {
    overflow: hidden;
    transition-duration: 1000ms;
    height: 100vh;
    width: 450px;
    background-color: rgb(31, 27, 48);
}

.sidebar nav {
    color: #fff;
    padding-top: 4rem;
}

.sidebar nav li {
    text-align: center;
    list-style: none;
    font-size: 2rem;
    width: 100%;
    transition-duration: 800ms;
}
.sidebar nav a
{
    padding: 3rem 0;
    display: block;
    text-decoration: none;
    color: #fff;
}
.sidebar nav a:hover
{
    color: #000;
}
.sidebar nav li:hover{
    background-color: #ffffff;
}

.hidesidebar{
    transform:translateX(-250px);
}
.main {
    width: 100%;
}


.infoContainer {
    display: flex;
    background-color: #fff;
    height: 60vh;
    width: 80vw;
    margin: auto;
    margin-top: 14vh;
    color: aliceblue;
}

.devInfo {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

#photo {
    border-radius: 20px;
    height: 60vh;
    float: left;
}
.devInfo div
{
    text-align: center;
}
.intro {
    font-size: 60px;
    font-family: 'source code pro',monospace;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}
.about
{
    text-align: center;
    width: 40vw;
    font-family: 'source code pro',monospace;
    font-size: 0.85em;
}

.displayButton {
    margin-right: 0.8rem;
    margin-top: 2rem;
    border: none;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 3vw;
    box-shadow: 0.1rem 0.1rem 0.4rem #f00;
    transition-duration: 100ms;
    font-size: 1.4rem;
    cursor: pointer;
}

.displayButton:hover {
    transition-duration: 500ms;
    background-color: #f00;
    color: #fff;
}



/* 
    Making it more responsive
*/

@media (max-width:41px)
{
    #photo{
        height: 30px;
    }
}
