@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
  }
  
  #preloader {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar {
    width: 40vw;
    height: 5vh;
    border: 2px solid #ffb7b7;
    border-radius: 6px;
    padding: 0px;
    line-height: 120px;
    overflow: hidden;
  }
  .progress
  {
    width: 0vw;
    height: 5vh;
    border: none;
    background-color: #f00;
    padding: 0px;
    line-height: 120px;
    animation: loading 2s linear infinite;
  }
  
  @keyframes loading {
    40% { 
        transform:translateX(0vw);
        width: 40vw; 
    }
    90% { 
        transform:translateX(45vw);
        width: 0px;
    }
    100%{
        transform: translateX(50vw);
    }
  }
  
.container {
    display: flex;
}


.sidebar {
    height: 100vh;
    width: 250px;
    background-color: rgb(31, 27, 48);
}

.sidebar nav {
    color: #fff;
    padding-top: 40px;
}

.sidebar nav li {
    text-align: center;
    list-style: none;
    font-size: 20px;
    width: 100%;
    transition-duration: 800ms;
}
.sidebar nav a
{
    padding: 30px 0;
    display: block;
    text-decoration: none;
    color: #fff;
}
.sidebar nav a:hover
{
    color: #000;
}
.sidebar nav li:hover{
    background-color: #ffffff;
}


.main {
    width: 100%;
}

.infoContainer {
    justify-content: space-around;
    display: flex;
    background-color: #fff;
    height: 100vh;
    width: 80vw;
    margin: auto;
    color: aliceblue;
}

.devInfo {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

#photo {
    margin-top: 17vh;
    border-radius: 20px;
    height: 60vh;
    float: left;
}
.devInfo div
{
    text-align: center;
}
.intro {
    font-size: 3em;
    font-family: 'source code pro',monospace;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
    font-family: sans-serif;
}
.about
{
    text-align: center;
    width: 40vw;
    font-family: 'source code pro',monospace;
    font-size: 0.85em;
}

.displayButton {
    margin-right: 8px;
    margin-top: 20px;
    border: none;
    padding: 8px;
    background-color: #fff;
    border-radius: 3vw;
    box-shadow: 1px 1px 4px #f00;
    transition-duration: 100ms;
    cursor: pointer;
}

.displayButton:hover {
    transition-duration: 500ms;
    background-color: #f00;
    color: #fff;
}



/* 
    Making it more responsive
*/

@media (max-width:1000px)
{
    #photo{
        margin-top: 0px;
        top: 5vh;
        left: 30vw;
        right: 30vw;
        width: 40vw;
        height: auto;
        position: absolute;
    }
    .hidesidebar{
        position:absolute;
        width: 15vw;
        transform:translateX(-500px);
        transition-timing-function: ease-in;
        transition-duration: 1s;
    }
    .devInfo div{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    .devInfo{
        justify-content: flex-end;
        height: 78vh;
    }
}