.backgroundImg{
    position: fixed;
    z-index: -99999;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}
.contactInfo{
    margin-top: 5rem;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color: white;
    font-family: 'source code pro',monospace;
    font-size: 50px;
}
.Disclimer{
    color: white;
    font-size: 15px;
    margin-left: 30px;
}
form div
{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.submitBtn{
    margin-top: 33px;
    width: 40.5rem;
    height: 8vh;
    background-color: #fff;
    border: 2px solid red;
    color: red;
    font-size: 3vh;
    border-radius: 10px;
    transition-duration: 500ms;
}
.submitBtn:hover{
    background-color: #f00;
    color: #fff;
}
.inputBox{
    width: 40rem;
    outline: none;
    border-radius: 10px;
    font-size: 2.2vh;
    padding-left: 10px;
    height: 5vh;
    background-color: #fff;
    border:2px solid #c1c6ff;
}
.message{
    margin-left: 1.2vw;
    color: #c1c6ff;
    font-size: 2rem;
}
.check{
    display: inline-block;
    color: #c1c6ff;
}
#isClient{
    height: 15px;
    width: 15px;
}

@media (max-width: 1000px) {
    html,body{
        font-size: 12px;
    }
    .sidebar{
        position: fixed;
    }
    .main{
        padding: 12rem 18px;
    }
    .inputBox{
        width: 29rem;
    }
    .submitBtn{
        width: 30.5rem;
    }
    .message{
        font-size: 3rem;
    }
}
