body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.serviceContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service {
    margin-bottom: 30px;
}

.service h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.cta-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}


@media (max-width: 1000px) {

    html,
    body {
        font-size: 12px;
    }

    .sidebar {
        position: fixed;
    }
}